{% extends base_template %}

{% block content %}	
	<div class="row">
		<div class="col-lg-5 col-xs-12">
			<form method="post" action="" class="query-form" role="form">
				<input id="sub_type" type="hidden" name="submit_type" value="choose"/>
			    <legend>Queries</legend>
				{% load bootstrap %}
				<div class="well existing-queries">
					{% csrf_token %}
			    	{{ choose_query |bootstrap }}
				</div>
				<div class="well">
					{% if filter_form_error %}
						<div style="color: #b94a48; margin-bottom: 10px">{{filter_form_error}}</div>
					{% endif %}

					{{ form.non_field_errors.as_ul }}
					
					<div style="display:none">
						{{ form.code }}
					</div>
							
					<div class="row">
						<div class="col-md-6 col-xs-12">
							{{ form.db |bootstrap }}
						</div>
						
						<div class="col-md-6 col-xs-12">
							{{ form.function |bootstrap }}
						</div>
					</div>
									
					<div class="form-group">
					    <div class="input-group">
					    	{{ form.name }}
					      <span class="input-group-btn">
						  	<button type="submit" class="btn btn-default" onclick="$('#sub_type').val('delete')">Delete</button>
						  	<button type="submit" class="btn btn-default" onclick="$('#sub_type').val('edit')">Save &amp; Execute</button>
					      </span>
					    </div>
					</div>
					
					<label class="control-label">Code <span id="format-string"></span></label>
				    <div id="editor"></div>
				</div>
			</form>
		</div>
		
		<div class="col-lg-7 col-xs-12">
			<div class="row">
				<div class="col-md-5 col-xs-12 column">
					 <legend>Data Tree</legend>
					<div class="well tree-panel">
					  <div id="tree" data-url="{% url 'tree_json' %}"></div>
					</div>
				</div>
				
				<div class="col-md-7 col-xs-12">
					<div class="tree-display column">
					  <legend>Data Display</legend>
					  <dl id="description" class="dl-horizontal"></dl>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_css %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/jqtree.css" %}">
{% endblock %}

{% block extra_js %}
	<script src="{% static "js/lib/tree.jquery.js" %}"></script>
	<script src="{% static "js/lib/ace/ace.js" %}"></script>
	<script>
		var code_formats = {{ code_formats|safe }};
	</script>
	<script src="{% static "js/tree_display.js" %}"></script>
{% endblock %}