{% extends "base.html" %}

{% block body %}   
<div class="navbar navbar-default navbar-fixed-top hidden-print">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        {% for item in top_menu %}<span class="icon-bar"></span>{% endfor %}
      </button>
      <a class="navbar-brand" href="{% url "main" %}">{{site_title}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for item in top_menu %}
		<li class="{{item.class}}"><a href="{{item.url}}" class="{% if item.popup %}pop-main{% endif %}">{{item.name}}</a></li>
			{% if item.popup %}
				<li class="{{item.class}}"><a href="{{item.popup}}" class="pop-icon glyphicon glyphicon-new-window"></a></li>
			{% endif %}
		{% endfor %}
      </ul>
    </div><!--/.navbar-collapse -->
</div>
<div class="main-container">	
	{% if errors %}
	<div id="error" class="alert alert-danger">
		{% for error in errors %} <p> {{error}} </p> {% endfor %}
	</div>
	{% else %}
	<div id="error" class="alert alert-danger" style="display:none"></div>
	{% endif %}
	
	{% block content %}{% endblock %}
</div>
{% endblock body %}